[user]
        email = keony.schroer@gmail.com
        name = Keony Schröer
[core]
        editor = /usr/bin/nvim
[includeIf "gitdir:~/toro/"]
    path = ~/toro/.toro.gitconfig
[alias]
	co = checkout
	st = status
	last = log -1 HEAD
	ci = commit -m
[init]
	defautBranch = main
